ChallengeResponseAuthentication no
ClientAliveCountMax {{ sshd_config_client_alive_count }}
ClientAliveInterval {{ sshd_config_client_alive_internal }}
GSSAPIAuthentication no
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
Port {{ sshd_config_port }}
UseDNS no
X11Forwarding no
